body, html{
    width:100%;
    height:100%;
    background-color: #27242b;
    min-height: 590px;
}
header{
    margin-bottom:-20px;
}
.navbar {
    position: relative;
    background: #2f2c33;
    color:white;
    box-shadow: 0 0 10px black;
    border: none;
}
.navbar-default .navbar-nav>li>a {
    color: white;
    text-shadow: none;
    font-size: 13px;
    padding: 7px 6px;
    font-weight: 100;
    height: auto;
    border-bottom: solid 2px transparent;
    letter-spacing: 0.4px;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color:white;
    border-bottom: solid 2px white;
    background:none;
}
.navbar-default .navbar-nav>li>a:focus {
    color:white;
    border-bottom: none;
}
.navbar-default .navbar-nav>.open>a {
    background: none;
    color:white;
    border-bottom: solid 2px red;

}
.navbar-default .navbar-nav>.active>a {
    background: white;
    color: black;
    font-weight: 400;
    border-bottom: solid 2px red;
}
.navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.active>a:hover {
    border-bottom: solid 2px red;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    color: white !important;
    background-color: #2f2c33 !important;
}
.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    max-height: 440px;
}
.custom-logo-link img{
    width: 130px;
    height: auto;
    padding: 10px;
}
.main-search .btn{
    background: none;
    border-radius: 0;
    height: 73px;
    line-height: 60px;
}
.main-search .btn:hover{
    color:white;
    border-bottom: solid 2px white;
}
header .navbar-form{
    margin: 0px;
}

.well{
    padding: 13px;
    border: none;
    border-radius: 0px;
    margin-bottom: 0px;
    margin-top: 4px;
    background: #2f2c33;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: white;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #f00;
}
.navbar-default .navbar-toggle {
    border: none;
    margin: 0 auto;
    margin-top: 18px;
    margin-right: calc(50% - 40px);
}
#menu-principal{
    margin: 0 auto;
    float: none !important;
    width: 470px;
}
#menu-principal .dropdown-menu{
   font-size: 12px;
   background: #2f2c33;
}

#menu-principal .dropdown-menu>li>a {
    color: white;
    font-weight: 100;
    letter-spacing: 0.5px;
    height: 30px;
}
#menu-principal .dropdown-menu>li>a:hover, #menu-principal .dropdown-menu>li>a:focus{
    border-bottom:solid 2px white;
    background:#2f2c33
    
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
    background:#4e4e4e
}
.search-box{position: absolute;right: 0px;top: 69px;}

@media screen and (min-width: 768px) {
    .obj_jumbo {
        height: calc(33% - 45px);
    }
    .navbar {
        padding: 0px 20px;
    }
    .navbar-default .navbar-nav>li>a {
        height: 73px;
        line-height: 59px;
    }
}

/* Home */

.frase{
        height: 60px;
        color: white;
        text-transform: uppercase;
        padding: 16px;
        text-align: center;
        background: url(../assets/pattern_frase.jpg) 0px 0px repeat;
}
.frase div{
    width: 270px;
    margin-left: calc(50% - 135px);
    line-height: 35px;
}
.frase p, .frase img{
    float:left;
    margin-left: 15px;
    font-size: 20px;
}
.titulos1{
    margin-left: 20px;
    margin-top: 30px;
}
.titulos2{
    text-align: left;
    float: left;
    padding-top: 0px;
    margin-top: -23px;
    line-height: 15px;
    margin-left: 10px;
    width: calc(100% - 70px);
}
.titulos2 h1{
    font-size: 27px;
    margin: 8px 0px;
}

.obj_jumbo {
    height: 300px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    line-height: 20px;
    text-shadow: 0 0 10px #000000, 0 0 10px #000000;
    text-transform: capitalize;
    box-shadow: 0 0 10px -3px black;
    padding: 10px;
    overflow: hidden;
}
.obj_jumbo:hover {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    filter: grayscale(0%);
}
.el1{
    background-image: url(../assets/grid1.jpg);
}
.el2{
    background-image: url(../assets/ninos.jpg);
}
.el3{
    background-image: url(../assets/caso.jpg);
}
.el4{
    background-image: url(../assets/noticias.jpg);
}
.el5{
    background-image: url(../assets/mundo.jpg);
}
.el6{
    background-image: url(../assets/caso.jpg);
}
.el7{
    background-image: url(../assets/noticias.jpg);
}
.el8{
    background-image: url(../assets/mundo.jpg);
}
.ver_mas{
    font-size: 16px;
    text-transform: capitalize;
    border: solid 1px white;
    width: 100px;
    height: 36px;
    line-height: 36px;
    background-color: rgba(0,0,0,0.5);
    font-weight: 100;
    transition-property: transform;
    transition-duration: 0.3s;
    cursor: pointer;
    transition-timing-function: ease-in-out;
    text-align: center;
}
.ver_mas:hover{
    transform:scale(1.1);
    text-shadow:none;
}

.portafolio{
    margin: 0px !important;
    width: 100% !important;
    color: white;
    height: 41px;
    text-align: center;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.66) 13%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.66) 13%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.66) 13%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=0 );
}
.portafolio img{
    position: absolute;
    margin-left: -106px;
    margin-top: 35px;
}
.portafolio h4{
    margin-top: 29px;
    margin-left: -3px;
}
.portafolio h1{
    margin-left: 54px;
    margin-top: -21px;
}

.mapa img{
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 10px;
}
.mapa .paises{
    color: white;
    text-align: center;
}
.mapa .paises span{
    color: red;
}
.mapa .img_mapa{
    position: relative;
    width: 100%;
    text-align: center;

}


/*Footer*/

.footer{
    text-align:center;
    color:white;
    font-size:11px;
    background: #2f2c33;
    padding: 40px;
    box-shadow: 0 0 41px -5px black;
    margin-top: 20px;
}

.home .icono{
    font-size: 45px;
    float: left;
}

@media screen and (min-width: 768px) {
    .home .obj_jumbo {
        height: calc(33% - 23px);
    }
    .home .row:nth-child(2), .home, .home .fullh{
        height: calc(100% - 24px);
        margin-bottom: -68px;
    }
    .mapa img {
        padding: 29px 30px;
        max-width: 840px;
        margin-bottom: 30px;
    }
}
/* interna 1 */


.fullh img {
    width: auto;
    height: auto;
    position: absolute;
    top: 0px;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
}
.contenido h1{
    position: absolute;
    z-index: 1;
    margin-top: 0 !important;
    width: 100%;
    left: 0px;
    text-align: left;
    margin: 0px 20px;
}
.contenido:nth-child(2){
    background-color: white;
    filter: none;
    padding: 40px;
    height: auto;
}
.contenido .texto{
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: left;
    line-height: 24px;
    text-shadow: none;
    color: black;
    width: 100%;
    font-size: 16px;
    font-weight: 200;
    text-transform: initial;

}
.quehacemos .row:nth-child(1):hover, .quehacemos, .quehacemos .fullh:hover{
    cursor:pointer;
}
.fullh .titulos1{
    position: absolute;
    bottom: 0px;
    margin-bottom: 20px;
    z-index: 10;
}

@media screen and (min-width: 768px) {
    .quehacemos .row:nth-child(1), .quehacemos, .quehacemos .fullh{
        height: calc(100% - 24px);
        margin-bottom: -68px;
    }
    
    .fullh h1{
        
    }
    .fullh img{
        position: absolute;
        right: 0px;
        top: 0px;
        left: auto;
        height: auto;
        width: auto;
        min-height: 100%;
        min-width: 100%;
    }
}

