body, html{
    width:100%;
    height:100%;
    background: url(../assets/pattern_frase.jpg) 0px 0px repeat;
}
.navbar {
    position: relative;
    background: #272727;
    color:white;
    box-shadow: 0 0 10px black;
    border: none;
}
.navbar-default .navbar-nav>li>a {
    color: white;
    text-shadow: none;
    font-size: 13px;
    padding: 7px 11px;
    font-weight: 100;
    height: auto;
    border-bottom: solid 2px transparent;
    letter-spacing: 0.4px;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color:white;
    border-bottom: solid 2px white;
    background:none;
}
.navbar-default .navbar-nav>li>a:focus {
    color:white;
    border-bottom: none;
}
.navbar-default .navbar-nav>.open>a {
    background: none;
    color:white;
    border-bottom: solid 2px red;

}
.navbar-default .navbar-nav>.active>a {
    background: white;
    color: black;
    font-weight: 400;
    border-bottom: solid 2px red;
}
.navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.active>a:hover {
    border-bottom: solid 2px red;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    color: white !important;
    background-color: #272727 !important;
}
.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    max-height: 440px;
}
.custom-logo-link img{
    width: 130px;
    height: auto;
    padding: 10px;
}
.main-search .btn{
    background: none;
    border-radius: 0;
    height: 73px;
    line-height: 60px;
}
.main-search .btn:hover{
    color:white;
    border-bottom: solid 2px white;
}
header .navbar-form{
    margin: 0px;
}

.well{
    background: none;
    padding: 0px;
    border: none;
    border-radius: 0px;
    margin-bottom: 0px;
    margin-top: 19px;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: white;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #f00;
}
.navbar-default .navbar-toggle {
    border: none;
    margin: 0 auto;
    margin-top: 18px;
    margin-right: calc(50% - 40px);
}
#menu-principal{
    margin: 0px -15px;
}
#menu-principal .dropdown-menu{
   font-size: 12px;
   background: #272727;
}

#menu-principal .dropdown-menu>li>a {
    color: white;
    font-weight: 100;
    letter-spacing: 0.5px;
    height: 30px;
}
#menu-principal .dropdown-menu>li>a:hover, #menu-principal .dropdown-menu>li>a:focus{
    border-bottom:solid 2px white;
    background:#272727
    
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
    background:#4e4e4e
}
.search-box{
    float:right;
}

@media screen and (min-width: 768px) {
    .navbar {
        padding: 0px 20px;
    }
    .navbar-default .navbar-nav>li>a {
        height: 73px;
        line-height: 59px;
    }
}

/* Home */

.frase{
        height: 110px;
        color: white;
        text-transform: uppercase;
        padding: 16px;
        text-align: center;
}
.frase div{
    width: 600px;
    margin-left: calc(50% - 300px);
    font-size: 45px;
    line-height: 37px;
    padding-top: 20px;
}
.frase p, .frase img{
    float:left;
    margin-left: 15px;
}

.obj_jumbo {
    height: 370px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    line-height: 70px;
    text-shadow: 0 0 10px #000000, 0 0 10px #000000;
    border-radius: 26px;
    text-transform: capitalize;
    box-shadow: 0 0 10px -3px black;
    border: solid 1px black;
    padding: 20px;
    overflow: hidden;
}
.obj_jumbo:hover {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    filter: grayscale(0%);
}
.el1{
    background-image: url(../assets/grid1.jpg);
}
.el2{
    background-image: url(../assets/ninos.jpg);
}
.el3{
    background-image: url(../assets/caso.jpg);
}
.el4{
    background-image: url(../assets/noticias.jpg);
}
.el5{
    background-image: url(../assets/mundo.jpg);
}
.el6{
    background-image: url(../assets/caso.jpg);
}
.el7{
    background-image: url(../assets/noticias.jpg);
}
.el8{
    background-image: url(../assets/mundo.jpg);
}
.home .col-xs-12, .quehacemos .col-xs-12{
    width: 98%;
    margin: 1%;
}
.ver_mas{
    font-size: 16px;
    text-transform: capitalize;
    border: solid 1px white;
    width: 100px;
    height: 50px;
    line-height: 46px;
    border-radius: 9px;
    background-color: rgba(0,0,0,0.4);
    margin-left: calc(50% - 50px);
    font-weight: 100;
    transition-property: transform;
    transition-duration: 0.3s;
    cursor: pointer;
    transition-timing-function: ease-in-out;
}
.ver_mas:hover{
    transform:scale(1.1);
    background:black;
    border-color:red;
    color:white;
    text-shadow:none;
}

.portafolio{
    margin: 0px !important;
    width: 100% !important;
    color: white;
    height: 41px;
    text-align: center;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.66) 13%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.66) 13%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.66) 13%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=0 );
}
.portafolio img{
    position: absolute;
    margin-left: -106px;
    margin-top: 35px;
}
.portafolio h4{
    margin-top: 29px;
    margin-left: -3px;
}
.portafolio h1{
    margin-left: 54px;
    margin-top: -21px;
}

.mapa img{
    width: 100%;
    height: auto;
    position: relative;
    border: solid 1px red;
    border-radius: 10px;
    background: rgba(0,0,0,0.4);
    box-shadow: 0 0 10px -1px black;
    margin-bottom: 10px;
}
.mapa .paises{
    color: white;
    text-align: center;
}
.mapa .paises span{
    color: red;
}
.mapa .img_mapa{
    position: relative;
    width: 100%;
    text-align: center;

}


/*Footer*/

.footer{
    text-align:center;
    color:white;
    font-size:11px;
    background: #272727;
    padding: 40px;
    box-shadow: 0 0 41px -5px black;
    margin-top: 20px;
}

.home .icono{
    font-size: 78px;
}

@media screen and (min-width: 768px) {
    
    .home .col-lg-4, .quehacemos .col-sm-4{
        width: 31.333333%;
        margin: 1%;
    }
    .home .col-lg-6, .quehacemos .col-sm-6{
        width: 48%;
        margin: 1%;
    }
    .obj_jumbo {
         /* Safari 6.0 - 9.0 */
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        filter: grayscale(100%);
        transition-property: filter;
        transition-duration: 0.3s;
        transition-timing-function: linear;
    }
    .mapa img {
        padding: 29px 30px;
        max-width: 840px;
        margin-bottom: 30px;
    }
}
/* interna 1 */


.fullh img {
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}
.contenido h1{
    position: absolute;
    z-index: 1;
    margin-top: 0 !important;
    width: 100%;
    left: 0px;
    text-align: left;
    margin: 0px 20px;
}
.contenido:nth-child(2){
    background-color: white;
    filter: none;
    border: solid 2px red;
}
.contenido .texto{
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: left;
    line-height: 24px;
    text-shadow: none;
    color: black;
    width: 100%;
    font-size: 16px;
    font-weight: 200;
    text-transform: initial;

}


@media screen and (min-width: 768px) {
    .quehacemos .row:nth-child(1), .quehacemos, .quehacemos .fullh{
        height: calc(100% - 10px);
    }
    .fullh h1{
        margin-top:50%
    }
    .fullh img{
        position: absolute;
        right: -50%;
        top: 0px;
        left: auto;
        height: auto;
        width: auto;
        min-height: 100%;
        min-width: 100%;
    }
}

