/* Autor: Diego Valbuena */

div
{
	transition: all .1s;
	-webkit-transition: all .1s;
	-moz-transition: all .1s;
	-o-transition: all .1s;
}

html, body
{
	margin:0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	text-align: center;
	color:#fff;
}

/* header */
header
{
	width:100%;
	height: 70px;
	margin: 0;
	padding: 0;
	background: rgb(43, 41, 46);
	position: fixed;
	z-index: 1000;
}

header .logo
{
	width:104px;
	height: 45px;
	float: left;
	margin-top: 15px;
	margin-left: 5%;
}

header nav 
{
	width:440px;
	height: 70px;
	position: absolute;
	left: 50%;
	margin-left: -220px;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

header nav ul
{
	height: 70px;
	margin: 0;
	padding: 0;
}

header nav ul li
{
	list-style: none;
	height: 42px;
	float: left;
	font-size: 12px;
	font-weight: 300;
	margin: 0 13px 0 0;
	padding: 25px 0 0 0;
	cursor: pointer;
	transition: .5s all;
	-moz-transition: .5s all;
	-webkit-transition: .5s all;
	-o-transition: .5s all;
}

header nav ul li:hover
{
	color: #f00;
}

.mobile_nav
{
	width:24px;
	height: 47px;
	position: absolute;
	left: 50%;
	margin-left: -12px;
	padding-top: 23px;
	visibility: hidden;
	cursor: pointer;
}

.mobile_nav img
{
	width:24px;
	height: 24px;
}

header .settings 
{
	width:58px;
	height: 70px;
	float: right;
	padding: 0;
	margin-right: 5%;
}

header .settings .lang 
{
	width:22px;
	float: left;
	font-size: 12px;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	padding: 25px 20px 0 0;
	cursor: pointer;
	transition: .5s all;
	-moz-transition: .5s all;
	-webkit-transition: .5s all;
	-o-transition: .5s all;

}

header .settings .lang:hover
{
	color: #f00;
}

header .settings .search 
{
	width:16px;
	float: left;
	padding: 25px 0 0 0;

}

/* frase */
.frase
{
	width:100%;
	height: 110px;
	float: left;
	margin-top: 70px;
	padding: 0;
	background: url("../assets/pattern_frase.jpg") repeat 0 0;
}

.frase .palabra
{
	width: 514px;
	height: 41px;
	margin: 30px auto 0;
}

.frase .palabra .primera
{
	width: 200px;
	height: 41px;
	color: #fff;
	text-transform: uppercase;
	font-size: 36px;
	font-weight: lighter;
	float: left;
	margin-right: 15px;
}

.frase .palabra .segunda
{
	width: 250px;
	height: 41px;
	color: #fff;
	text-transform: uppercase;
	font-size: 36px;
	font-weight: 700;
	float: left;
}

.frase .palabra .heart
{
	width: 44px;
	height: 41px;
	float: left;
	margin-right: 5px;
}

.frase .palabra .heart img
{
	width: 100%;
	height: auto;
}

/* grid */
.grid
{
	width: 100%;
	height: auto;
	position: relative;
	float: left;
}

.grid .que_hacemos
{
	width: 100%;
	height: 420px;
	float: left;
	background-image: url("../assets/grid1.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
}

.grid .que_hacemos .copy_quehacemos
{
	width: 100%;
	height: 150px;
	position: relative;
	top: 50%;
	margin-top: -75px; 
}

.grid .que_hacemos .copy_quehacemos .modulo
{
	width: 90%;
	height: 150px;
	float: left;
	margin-left: 5%;
}

.grid .que_hacemos .copy_quehacemos .modulo .frase_que_hacemos
{
	width: 100%;
	height: 43px;
	float: left;
	margin:  0;
}

.grid .que_hacemos .copy_quehacemos .modulo .frase_que_hacemos .icono_hacemos
{
	width: 36px;
	height: 38px;
	float: left;
	margin: 5px 15px 0 0;
}

.grid .que_hacemos .copy_quehacemos .modulo .frase_que_hacemos h1
{
	width: 550px;
	height: auto;
	float: left;
	text-transform: uppercase;
	text-align: left;
	margin: 0;
	font-size: 38px;
	letter-spacing: -1px;
	padding-top: 0;
}

.grid .que_hacemos .copy_quehacemos .modulo .ver_mas
{
	width: 120px;
	height: 35px;
	float: left;
	text-transform: uppercase;
	text-align: center;
	margin: 48px 0 0 50px;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	border: 1px solid #fff;
	padding-top: 15px;
	cursor: pointer;
	background: rgba(255, 255, 255, 0);
	transition: .2s all;
	-moz-transition: .2s all;
	-webkit-transition: .2s all;
	-o-transition: .2s all;
}

.grid .que_hacemos .copy_quehacemos .modulo .ver_mas:hover
{
	background: rgba(255, 255, 255, 1);
	color: #f00;
}

.grid .alegria
{
	width: 60%;
	height: 420px;
	float: left;
	background-image: url("../assets/ninos.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
}

.grid .alegria .copy_alegria
{
	width: 100%;
	height: 150px;
	position: relative;
	top: 50%;
	margin-top: -75px; 
}

.grid .alegria .copy_alegria .modulo
{
	width: 90%;
	height: 150px;
	float: left;
	margin-left: 5%;
}

.grid .alegria .copy_alegria .modulo .frase_alegria
{
	width: 100%;
	height: 43px;
	float: left;
	margin:  0;
}

.grid .alegria .copy_alegria .modulo .frase_alegria .icono_alegria
{
	width: 36px;
	height: 38px;
	float: left;
	margin: 5px 20px 0 0;
}

.grid .alegria .copy_alegria .modulo .frase_alegria .icono_alegria img
{
	width: 100%;
	height: auto;
}

.grid .alegria .copy_alegria .modulo .frase_alegria .icono_alegria
{
	width: 36px;
	height: 38px;
	float: left;
	margin: 5px 20px 0 0;
}



.grid .alegria .copy_alegria .modulo .frase_alegria h1
{
	width: 500px;
	height: auto;
	float: left;
	text-transform: uppercase;
	text-align: left;
	margin: 0;
	font-size: 24px;
	letter-spacing: -1px;
	padding-top: 0;
}

.grid .alegria .copy_alegria .modulo .frase_alegria p
{
	width: 300px;
	height: auto;
	float: left;
	text-align: left;
	margin: 0;
	font-size: 14px;
}

.grid .alegria .copy_alegria .modulo .ver_mas
{
	width: 120px;
	height: 35px;
	float: left;
	text-transform: uppercase;
	text-align: center;
	margin: 48px 0 0 50px;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	border: 1px solid #fff;
	padding-top: 15px;
	cursor: pointer;
	background: rgba(255, 255, 255, 0);
	transition: .2s all;
	-moz-transition: .2s all;
	-webkit-transition: .2s all;
	-o-transition: .2s all;
}

.grid .alegria .copy_alegria .modulo .ver_mas:hover
{
	background: rgba(255, 255, 255, 1);
	color: #f00;
}

.grid .casos
{
	width: 40%;
	height: 210px;
	float: left;
	background-image: url("../assets/caso.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
}

.grid .casos .copy_casos
{
	width: 100%;
	height: 150px;
	position: relative;
	top: 50%;
	margin-top: -75px; 
}

.grid .casos .copy_casos .modulo
{
	width: 90%;
	height: 150px;
	float: left;
	margin-left: 5%;
}

.grid .casos .copy_casos .modulo .frase_casos
{
	width: 100%;
	height: 43px;
	float: left;
	margin:  0;
}

.grid .casos .copy_casos .modulo .frase_casos .icono_casos
{
	width: 36px;
	height: 38px;
	float: left;
	margin: 5px 20px 0 0;
}

.grid .casos .copy_casos .modulo .frase_casos .icono_casos img
{
	width: 100%;
	height: auto;
}

.grid .casos .copy_casos .modulo .frase_casos h1
{
	width: 210px;
	height: auto;
	float: left;
	text-transform: uppercase;
	text-align: left;
	margin: 0;
	font-size: 24px;
	letter-spacing: -1px;
	padding-top: 0;
}

.grid .casos .copy_casos .modulo .frase_casos p
{
	width: 210px;
	height: auto;
	float: left;
	text-align: left;
	margin: 0;
	font-size: 14px;
}

.grid .casos .copy_casos .modulo .ver_mas
{
	width: 92px;
	height: 35px;
	float: left;
	text-transform: uppercase;
	text-align: center;
	margin: 48px 0 0 55px;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	border: 1px solid #fff;
	padding-top: 15px;
	cursor: pointer;
	background: rgba(255, 255, 255, 0);
	transition: .2s all;
	-moz-transition: .2s all;
	-webkit-transition: .2s all;
	-o-transition: .2s all;
}

.grid .casos .copy_casos .modulo .ver_mas:hover
{
	background: rgba(255, 255, 255, 1);
	color: #f00;
}


.grid .noticias
{
	width: 40%;
	height: 210px;
	float: left;
	background-image: url("../assets/noticias.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
}

.grid .noticias .copy_noticias
{
	width: 100%;
	height: 150px;
	position: relative;
	top: 50%;
	margin-top: -75px; 
}

.grid .noticias .copy_noticias .modulo
{
	width: 90%;
	height: 150px;
	float: left;
	margin-left: 5%;
}

.grid .noticias .copy_noticias .modulo .frase_noticias
{
	width: 100%;
	height: 43px;
	float: left;
	margin:  0;
}

.grid .noticias .copy_noticias .modulo .frase_noticias .icono_noticias
{
	width: 36px;
	height: 38px;
	float: left;
	margin: 5px 20px 0 0;
}

.grid .noticias .copy_noticias .modulo .frase_noticias .icono_noticias img
{
	width: 100%;
	height: auto;
}

.grid .noticias .copy_noticias .modulo .frase_noticias h1
{
	width: 300px;
	height: auto;
	float: left;
	text-transform: uppercase;
	text-align: left;
	margin: 0;
	font-size: 24px;
	letter-spacing: -1px;
	padding-top: 0;
}

.grid .noticias .copy_noticias .modulo .frase_noticias p
{
	width: 210px;
	height: auto;
	float: left;
	text-align: left;
	margin: 0;
	font-size: 14px;
}

.grid .noticias .copy_noticias .modulo .ver_mas
{
	width: 92px;
	height: 35px;
	float: left;
	text-transform: uppercase;
	text-align: center;
	margin: 48px 0 0 55px;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	border: 1px solid #fff;
	padding-top: 15px;
	cursor: pointer;
	background: rgba(255, 255, 255, 0);
	transition: .2s all;
	-moz-transition: .2s all;
	-webkit-transition: .2s all;
	-o-transition: .2s all;
}

.grid .noticias .copy_noticias .modulo .ver_mas:hover
{
	background: rgba(255, 255, 255, 1);
	color: #f00;
}


.grid .mundo
{
	width: 100%;
	height: 350px;
	float: left;
	background-image: url("../assets/mundo.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
}

.grid .mundo .copy_mundo
{
	width: 100%;
	height: 150px;
	position: relative;
	top: 50%;
	margin-top: -75px; 
}

.grid .mundo .copy_mundo .modulo
{
	width: 90%;
	height: 150px;
	float: left;
	margin-left: 5%;
}

.grid .mundo .copy_mundo .modulo .frase_mundo
{
	width: 100%;
	height: 43px;
	float: left;
	margin:  0;
}

.grid .mundo .copy_mundo .modulo .frase_mundo .icono_mundo
{
	width: 36px;
	height: 38px;
	float: left;
	margin: 5px 20px 0 0;
}

.grid .mundo .copy_mundo .modulo .frase_mundo .icono_mundo img
{
	width: 100%;
	height: auto;
}

.grid .mundo .copy_mundo .modulo .frase_mundo h1
{
	width: 80%;
	height: auto;
	float: left;
	text-transform: uppercase;
	text-align: left;
	margin: 0;
	font-size: 24px;
	letter-spacing: -1px;
	padding-top: 0;
}

.grid .mundo .copy_mundo .modulo .frase_mundo p
{
	width: 350px;
	height: auto;
	float: left;
	text-align: left;
	margin: 0;
	font-size: 14px;
}

.grid .mundo .copy_mundo .modulo .ver_mas
{
	width: 121px;
	height: 35px;
	float: left;
	text-transform: uppercase;
	text-align: center;
	margin: 48px 0 0 55px;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	border: 1px solid #fff;
	padding-top: 15px;
	cursor: pointer;
	background: rgba(255, 255, 255, 0);
	transition: .2s all;
	-moz-transition: .2s all;
	-webkit-transition: .2s all;
	-o-transition: .2s all;
}

.grid .mundo .copy_mundo .modulo .ver_mas:hover
{
	background: rgba(255, 255, 255, 1);
	color: #f00;
}



/* btn portafolio */
.btn_portafolio
{
	width: 100%;
	height: 130px;
	float: left;
	margin: 0;
	background: url("../assets/pattern_btn.jpg") repeat-x top center;
	border-bottom: 1px solid #27252a;
	cursor: pointer;
}

.btn_portafolio .icon_btn
{
	width:228px;
	height:41px;
	margin: 45px auto 0;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
}

.btn_portafolio .icon_btn .icono
{
	width:45px;
	height:41px;
	float: left;
	margin-right: 10px;
}

.btn_portafolio .icon_btn h4
{
	width:173px;
	float: left;
	text-align: left;
	font-weight: 300;
	margin: 0;
}

.btn_portafolio .icon_btn h1
{
	width:173px;
	float: left;
	text-align: left;
	font-weight: 900;
	margin: -8px 0 0 0;
	font-size: 28px;
}

/* mapa */
.container_mapa
{
	width: 100%;
	height: auto;
	float: left;
	background: rgba(43, 41, 46, 1);
	padding-bottom: 60px;
}

.container_mapa .mapa
{
	width:960px;
	height: auto;
	position: relative;
	float: left;
	margin-top: 40px;
	left: 50%;
	margin-left: -480px;
}

.container_mapa .mapa .img_mapa
{
	width: 100%;
	height: auto;
	float: left;
	margin-bottom: 50px;
}

.container_mapa .mapa .img_mapa img
{
	width:100%;
	height: auto;
}

.container_mapa .mapa .paises
{
	width: 960px;
	margin: 50px auto 0;
	font-family: 'Roboto', sans-serif;
}

/* contenedor botones que hacemos */
.contenedor_categorias
{
	width: 100%;
	height: 100%;
	position: absolute;
}

.contenedor_categorias .items
{
	width: 33.3%;
	height: 100%;
	float: left;
	margin: 0;
	padding: 0;
	cursor: pointer;
}

.contenedor_categorias .items h3
{
	width: 250px;
	position: absolute;
	margin: 0 0 40px 40px;
	text-transform: uppercase;
	bottom: 0px;
	font-size: 24px;
	text-align: left;
}

.overlay
{
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(43, 41, 46, 0.89);
}

.overlay .copy
{
	width: 415px;
	height: 110px;
	position: relative;
	top: 50%;
	left: 50%;
	margin-top: -55px;
	margin-left: -207.5px;
}

.overlay .copy h1
{
	text-transform: uppercase;
	font-size: 46px;
	margin: 0 0 24px 0;
	padding: 0;
	letter-spacing: -1px;
	background: url("../assets/underscore.jpg") no-repeat bottom center;
	padding-bottom: 15px;
}

.overlay .copy p
{
	font-weight: 300;
	font-size: 16px;
	margin: 0;
}

.contenedor_foto_detalle
{
	width: 30%;
	height: 100%;
	background: #f00;
	float: left;
	position: fixed;
}

.contenedor_foto_detalle h1
{
	float: left;
	text-align: left;
	text-transform: uppercase;
	margin: 120px 90px 0 40px;
	font-weight: 700;
}

.contenedor_foto_detalle .back
{
	background: url("../assets/arrow.png") no-repeat 5px 5px rgba(43, 41, 46, 0.4);
	font-weight: 700;
	text-transform: uppercase;
	font-size: 12px;
	position: fixed;
	bottom: 40px;
	left: 40px;
	padding: 15px 15px 15px 50px;
	border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-o-border-radius: 50px;
	display: block;
	cursor: pointer;
	transition: all .2s;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
}

.contenedor_foto_detalle .back:hover
{
	background: url("../assets/arrow.png") no-repeat 5px 5px rgba(43, 41, 46, 0.8);
}

.contenedor_detalle
{
	width: 70%;
	height: auto;
	position: relative;
	background: #fff;
	float: right;
	margin-top: 70px;
}

.contenedor_detalle .info
{
	text-align: left;
	color: #2b292e;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	margin: 70px;
}

.contenedor_detalle .info p
{
	line-height: 22px;
	margin-bottom: 40px;
	font-weight: 400;
}

.contenedor_detalle .info ul
{
	margin: 0 0 40px 0;
	padding: 0;
}

.contenedor_detalle .info ul li
{
	list-style: none;
	background: url("../assets/vineta.jpg") no-repeat top left;
	padding:0 0 0 25px;
	margin: 0 0 9px 0;
}

/* footer */
footer
{
	width: 100%;
	height: 250px;
	position: relative;
	float: left;
	background: rgb(50, 48, 53);
}

footer .container_logo
{
	width: 100%;
	height: 45px;
	float: left;
	margin-top: 60px;
}

footer .container_nav
{
	width: 100%;
	height: auto;
	float: left;
	margin-top: 60px;
}

footer .container_nav ul
{
	width: 578px;
	height: 20px;
	margin: 0 auto 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

footer .container_nav ul li
{
	list-style: none;
	float: left;
	text-transform: uppercase;
	margin: 0 3px 0 0px;
	cursor: pointer;
	transition:.2s all;
	-webkit-transition:.2s all;
	-moz-transition:.2s all;
	-o-transition:.2s all;
}

footer .container_nav ul li:hover
{
	color: #f00;
}

/* clases */
.hacemos_00
{
	background: url("../assets/hacemos_00.jpg") no-repeat center center;
	background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
}

.hacemos_01
{
	background: url("../assets/hacemos_01.jpg") no-repeat center center;
	position: center center;
	background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
}

.hacemos_02
{
	background: url("../assets/hacemos_02.jpg") no-repeat center center;
	position: center center;
	background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
}


.seleccionado
{
	font-weight: 900;
	border-bottom: 3px #fff solid;
	pointer-events: none;
}

.separatas
{
	color: #f00;
	margin-left: 5px;
	margin-right: 5px;
}

/* responsive */

@media (max-width: 1100px)
{
	.grid .que_hacemos
	{
		width: 100%;
		height: 350px;
		float: left;
		background-image: url("../assets/grid1.jpg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	    -moz-background-size: cover;
	    -webkit-background-size: cover;
	    -o-background-size: cover;
	}

	.grid .alegria
	{
	width: 60%;
	height: 350px;
	float: left;
	background-image: url("../assets/ninos.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	}

	.grid .casos
	{
	width: 40%;
	height: 175px;
	float: left;
	background-image: url("../assets/caso.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	}

	.grid .noticias
	{
	width: 40%;
	height: 175px;
	float: left;
	background-image: url("../assets/noticias.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	}

	.container_mapa .mapa
	{
	width:780px;
	height: auto;
	position: relative;
	float: left;
	margin-top: 40px;
	left: 50%;
	margin-left: -390px;
	}

	.container_mapa .mapa .paises
	{
	width: 780px;
	margin: 50px auto 0;
	font-family: 'Roboto', sans-serif;
	}

}

@media (max-width: 990px)
{
	.grid .que_hacemos
	{
		width: 100%;
		height: 300px;
		float: left;
		background-image: url("../assets/grid1.jpg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	    -moz-background-size: cover;
	    -webkit-background-size: cover;
	    -o-background-size: cover;
	}

	.grid .alegria
	{
	width: 100%;
	height: 300px;
	float: left;
	background-image: url("../assets/ninos.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	}

	.grid .alegria .copy_alegria .modulo .frase_alegria h1
	{
	width: 500px;
	height: auto;
	float: left;
	text-transform: uppercase;
	text-align: left;
	margin: 0;
	font-size: 24px;
	letter-spacing: -1px;
	padding-top: 0;
	}

	.grid .casos
	{
	width: 100%;
	height: 300px;
	float: left;
	background-image: url("../assets/caso.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	}

	.grid .casos .copy_casos .modulo .frase_casos h1
{
	width: 500px;
	height: auto;
	float: left;
	text-transform: uppercase;
	text-align: left;
	margin: 0;
	font-size: 24px;
	letter-spacing: -1px;
	padding-top: 0;
}

	.grid .noticias
	{
	width: 100%;
	height: 300px;
	float: left;
	background-image: url("../assets/noticias.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	}

	.grid .noticias .copy_noticias .modulo .frase_noticias h1
{
	width: 300px;
	height: auto;
	float: left;
	text-transform: uppercase;
	text-align: left;
	margin: 0;
	font-size: 24px;
	letter-spacing: -1px;
	padding-top: 0;
}


	.container_mapa .mapa
	{
	width:780px;
	height: auto;
	position: relative;
	float: left;
	margin-top: 40px;
	left: 50%;
	margin-left: -390px;
	}

	.container_mapa .mapa .paises
	{
	width: 780px;
	margin: 50px auto 0;
	font-family: 'Roboto', sans-serif;
	}

}

@media (max-width: 820px)
{

	.grid .que_hacemos .copy_quehacemos .modulo .frase_que_hacemos h1
{
	width: 380px;
	height: auto;
	float: left;
	text-transform: uppercase;
	text-align: left;
	margin: 0;
	font-size: 38px;
	letter-spacing: -1px;
	padding-top: 0;
}

	.grid .alegria .copy_alegria .modulo .frase_alegria h1
{
	width: 280px;
	height: auto;
	float: left;
	text-transform: uppercase;
	text-align: left;
	margin: 0;
	font-size: 24px;
	letter-spacing: -1px;
	padding-top: 0;
}

	.grid .casos .copy_casos .modulo .frase_casos h1
{
	width: 300px;
	height: auto;
	float: left;
	text-transform: uppercase;
	text-align: left;
	margin: 0;
	font-size: 24px;
	letter-spacing: -1px;
	padding-top: 0;
}

.grid .noticias .copy_noticias .modulo .frase_noticias h1
{
	width: 300px;
	height: auto;
	float: left;
	text-transform: uppercase;
	text-align: left;
	margin: 0;
	font-size: 24px;
	letter-spacing: -1px;
	padding-top: 0;
}

	.container_mapa .mapa
	{
	width:580px;
	height: auto;
	position: relative;
	float: left;
	margin-top: 40px;
	left: 50%;
	margin-left: -290px;
	}

	.container_mapa .mapa .paises
	{
	width: 460px;
	margin: 50px auto 0;
	font-family: 'Roboto', sans-serif;
	line-height: 35px;
	}

}



@media (max-width: 730px) 
{
  	header nav 
	{
		display: none;
	}

	.mobile_nav
	{
		visibility: visible;
	}

	.frase
	{
		width:100%;
		height: 80px;
		float: left;
	}

	.frase .palabra
	{
		width: 374px;
		height: 41px;
		margin: 22px auto 0;
	}

	.frase .palabra .primera
	{
		width: 150px;
		height: 41px;
		color: #fff;
		text-transform: uppercase;
		font-size: 26px;
		font-weight: lighter;
		float: left;
		margin-right: 8px;
	}

	.frase .palabra .segunda
	{
		width: 170px;
		height: 41px;
		color: #fff;
		text-transform: uppercase;
		font-size: 26px;
		font-weight: 700;
		float: left;
	}

	.frase .palabra .heart
	{
		width: 34px;
		height: 31px;
		float: left;
		margin-right: 5px;
	}
}


@media (max-width: 640px) 
{
	.grid .mundo .copy_mundo .modulo .frase_mundo h1
{
	width: 390px;
	height: auto;
	float: left;
	text-transform: uppercase;
	text-align: left;
	margin: 0;
	font-size: 24px;
	letter-spacing: -1px;
	padding-top: 0;
}

.grid .mundo .copy_mundo .modulo .frase_mundo p
{
	width: 284px;
	height: auto;
	float: left;
	text-align: left;
	margin: 0;
	font-size: 14px;
}

	.container_mapa .mapa
	{
	width:400px;
	height: auto;
	position: relative;
	float: left;
	margin-top: 40px;
	left: 50%;
	margin-left: -200px;
	}

	.container_mapa .mapa .paises
	{
	width: 400px;
	margin: 50px auto 0;
	font-family: 'Roboto', sans-serif;
	line-height: 35px;
	}


}

@media (max-width: 580px) 
{
	.grid .que_hacemos
	{
		width: 100%;
		height: 250px;
		float: left;
		background-image: url("../assets/grid1.jpg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	    -moz-background-size: cover;
	    -webkit-background-size: cover;
	    -o-background-size: cover;
	}

	.grid .alegria
	{
	width: 100%;
	height: 250px;
	float: left;
	background-image: url("../assets/ninos.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	}

	.grid .alegria .copy_alegria .modulo .frase_alegria h1
	{
	width: 300px;
	height: auto;
	float: left;
	text-transform: uppercase;
	text-align: left;
	margin: 0;
	font-size: 18px;
	letter-spacing: -1px;
	padding-top: 0;
	}

	.grid .casos
	{
	width: 100%;
	height: 250px;
	float: left;
	background-image: url("../assets/caso.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	}

	.grid .casos .copy_casos .modulo .frase_casos h1
{
	width: 300px;
	height: auto;
	float: left;
	text-transform: uppercase;
	text-align: left;
	margin: 0;
	font-size: 18px;
	letter-spacing: -1px;
	padding-top: 0;
}

	.grid .noticias
	{
	width: 100%;
	height: 250px;
	float: left;
	background-image: url("../assets/noticias.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	}

	.grid .noticias .copy_noticias .modulo .frase_noticias h1
{
	width: 300px;
	height: auto;
	float: left;
	text-transform: uppercase;
	text-align: left;
	margin: 0;
	font-size: 18px;
	letter-spacing: -1px;
	padding-top: 0;
}



	.grid .mundo .copy_mundo .modulo .frase_mundo h1
{
	width: 300px;
	height: auto;
	float: left;
	text-transform: uppercase;
	text-align: left;
	margin: 0;
	font-size: 18px;
	letter-spacing: -1px;
	padding-top: 0;
}

.grid .que_hacemos .copy_quehacemos .modulo .frase_que_hacemos h1
{
	width: 325px;
	height: auto;
	float: left;
	text-transform: uppercase;
	text-align: left;
	margin: 0;
	font-size: 38px;
	letter-spacing: -1px;
	padding-top: 0;
}


}

@media (max-width: 465px) 
{
	.grid .que_hacemos
	{
		width: 100%;
		height: 200px;
		float: left;
		background-image: url("../assets/grid1.jpg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	    -moz-background-size: cover;
	    -webkit-background-size: cover;
	    -o-background-size: cover;
	}

	.grid .alegria
	{
	width: 100%;
	height: 200px;
	float: left;
	background-image: url("../assets/ninos.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	}

	.grid .alegria .copy_alegria .modulo .frase_alegria h1
	{
	width: 210px;
	height: auto;
	float: left;
	text-transform: uppercase;
	text-align: left;
	margin: 0;
	font-size: 18px;
	letter-spacing: -1px;
	padding-top: 0;
	}

	.grid .alegria .copy_alegria .modulo .frase_alegria p
	{
	width: 180px;
	}

	.grid .casos
	{
	width: 100%;
	height: 200px;
	float: left;
	background-image: url("../assets/caso.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	}

	.grid .casos .copy_casos .modulo .frase_casos h1
{
	width: 150px;
	height: auto;
	float: left;
	text-transform: uppercase;
	text-align: left;
	margin: 0;
	font-size: 18px;
	letter-spacing: -1px;
	padding-top: 0;
}

	.grid .noticias
	{
	width: 100%;
	height: 200px;
	float: left;
	background-image: url("../assets/noticias.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	}

	.grid .noticias .copy_noticias .modulo .frase_noticias h1
{
	width: 300px;
	height: auto;
	float: left;
	text-transform: uppercase;
	text-align: left;
	margin: 0;
	font-size: 18px;
	letter-spacing: -1px;
	padding-top: 0;
}



	.grid .mundo .copy_mundo .modulo .frase_mundo h1
{
	width: 280px;
	height: auto;
	float: left;
	text-transform: uppercase;
	text-align: left;
	margin: 0;
	font-size: 18px;
	letter-spacing: -1px;
	padding-top: 0;
}

.grid .que_hacemos .copy_quehacemos .modulo .frase_que_hacemos h1
{
	width: 285px;
	height: auto;
	float: left;
	text-transform: uppercase;
	text-align: left;
	margin: 0;
	font-size: 30px;
	letter-spacing: -1px;
	padding-top: 0;
}

.container_mapa .mapa
	{
	width:320px;
	height: auto;
	position: relative;
	float: left;
	margin-top: 40px;
	left: 50%;
	margin-left: -160px;
	}

	.container_mapa .mapa .paises
	{
	width: 320px;
	margin: 50px auto 0;
	font-family: 'Roboto', sans-serif;
	line-height: 35px;
	}



}

